*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    background-color: #010b12;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: #010b12;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    color: #9cff00 ;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #9cff00;
    border: 1px solid #9cff00;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }